<div class="header-wrapper">
    <h2>{{title}}</h2>
</div>
{{#conditional-loading-spinner condition=isLoading}}
<table id="ember98" class="topic-list showThumbnail tiles-style showExcerpt showActions ember-view">
    <tbody class="topic-list-body">
    {{#each topicList as |t|}}
        <div data-topic-id="{{t.id}}" id="ember101" class="tiles-grid-item topic-list-item category-proekty-integratorov-setpoint has-excerpt visited ember-view">
                <div class="tiles-grid-item-content">
                    <div class="image">
                        {{#if t.thumbnails}}
                        <div class="topic-thumbnail">
                            <a href="{{t.url}}">
                                <img class="thumbnail tiles-thumbnail" src="{{t.thumbnails.1.url}}" style="height:auto;width:100%" loading="lazy">
                            </a>
                        </div>
                        {{/if}}
                        <a href="{{t.url}}">
                            <div class="image-mask" style=""></div>
                        </a>
                    </div>
                    <div class="topic-details">
                        <div class="topic-header-grid">
                            <div class="topic-title">
                            <span class="link-top-line">
                                <a href="{{t.lastPostUrl}}" role="heading" aria-level="2" class="title raw-link raw-topic-link" data-topic-id="9770">
                                    {{t.title}}
                                </a>
                                <span class="topic-post-badges"></span>
                            </span>
                            </div>
                            <div class="topic-users">
                                <div class="inline">
                                {{#each t.posters as |poster|}}
                                    <a href="{{poster.user.path}}" data-user-card="{{poster.user.username}}" class="{{poster.extras}}">
                                        {{avatar poster avatarTemplatePath="user.avatar_template" usernamePath="user.username" imageSize="small"}}
                                    </a>
                                {{/each}}
                                </div>
                            </div>

                            <div class="topic-category">
                                {{category-link t.category}}
                            </div>
                        </div>
                        <a href="{{t.url}}"></a>

                        {{#if t.hasExcerpt}}
                        <a href='{{t.url}}'>
                            {{raw "list/topic-excerpt" topic=t}}
                        </a>
                        {{/if}}

                        <div class="topic-meta">
                            <div class="topic-views {{t.viewsHeat}} inline sub">
                                {{d-icon "far-eye"}}
                                {{number t.views numberKey="views_long"}}
                            </div>
                            <span class="middot inline sub"></span>
                            <div class="topic-replies posts-map inline sub" title="">
                                <a href class="posts-map badge-posts">{{d-icon "far-comment"}}{{number t.replyCount}}</a>
                            </div>
                            <span class="middot inline sub"></span>
                            <div class="{{class}} {{cold-age-class t.createdAt startDate=t.bumpedAt class=""}} activity inline sub" title="{{{t.bumpedAtTitle}}}">
                                <a href="{{t.lastPostUrl}}">{{format-date t.bumpedAt format="medium-with-ago" noTitle="true"}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {{/each}}
    </tbody>
</table>
{{/conditional-loading-spinner}}
<a href="{{moreHref}}" class="btn btn-more">{{i18n 'read_more'}}</a>