<div class="header-wrapper">
    <h2>{{title}}</h2>
</div>
{{#conditional-loading-spinner condition=isLoading}}
<table id="ember98" class="topic-list showThumbnail tiles-style showExcerpt showActions ember-view">
    <tbody class="topic-list-body">
    {{log this}}
    {{debugger}}
    {{#each topicList as |t|}}
        <div data-topic-id="9770" id="ember101" class="tiles-grid-item topic-list-item category-proekty-integratorov-setpoint has-excerpt visited ember-view" style="grid-row-end: span NaN;">
                <div class="tiles-grid-item-content">
                    <div class="image">
                        {{#if t.thumbnails}}
                        <div class="topic-thumbnail">
                            <a href="{{t.url}}">
                                <img class="thumbnail tiles-thumbnail" src="{{t.thumbnails.1.url}}" style="height:auto;width:100%" loading="lazy">
                            </a>
                        </div>
                        {{/if}}
                        <a href="{{t.url}}">
                            <div class="image-mask" style=""></div>
                        </a>
                    </div>
                    <div class="topic-details">
                        <div class="topic-header-grid">
                            <div class="topic-title">
                            <span class="link-top-line">
                                <a href="{{t.lastPostUrl}}" role="heading" aria-level="2" class="title raw-link raw-topic-link" data-topic-id="9770">
                                    {{t.title}}
                                </a>
                                <span class="topic-post-badges"></span>
                            </span>
                            </div>
                            <div class="topic-users">
                                <div class="inline">
                                {{#each t.posters as |poster|}}
                                    <a href="{{poster.user.path}}" data-user-card="{{poster.user.username}}" class="{{poster.extras}}">
                                        {{avatar poster avatarTemplatePath="user.avatar_template" usernamePath="user.username" imageSize="small"}}
                                    </a>
                                {{/each}}
                                </div>
                            </div>
                            <div class="topic-category">
                                <a class="badge-wrapper bullet" href="{{t.category.url}}">
                                    <span class="badge-category-parent-bg" style="background-color: #F7941D;"></span>
                                    <span class="badge-category-bg" style="background-color: #BF1E2E;"></span>
                                    <span data-drop-close="true" class="badge-category clear-badge restricted" title="Автоматизация зданий и квартир. Подготовка проектов и контроль внедрения">
                                        <svg class="fa d-icon d-icon-lock svg-icon svg-string" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="#lock"></use>
                                        </svg>
                                        <span class="category-name">{{t.category.name}}</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <a href="{{t.url}}"></a>
                        {{#if t.hasExcerpt}}
                        <div class="topic-excerpt">
                            {{dir-span t.escapedExcerpt}}
                            {{#if t.excerptTruncated}}
                                <a href="{{t.url}}">{{i18n 'read_more'}}</a>
                            {{/if}}
                        </div>
                        {{/if}}

                        <div class="topic-meta">
                            {{raw-plugin-outlet name="topic-list-tiles-meta"}}
                            <div class="topic-views {{t.viewsHeat}} inline sub">
                                {{d-icon "far-eye"}}
                                {{number t.views numberKey="views_long"}}
                            </div>
                            <span class="middot inline sub"></span>
                            <div class="topic-replies posts-map inline sub" title="">
                                <a href class="posts-map badge-posts">{{d-icon "far-comment"}}{{number t.replyCount}}</a>
                            </div>
                            <span class="middot inline sub"></span>
                            <div class="{{class}} {{cold-age-class t.createdAt startDate=t.bumpedAt class=""}} activity inline sub" title="{{{t.bumpedAtTitle}}}">
                                <a href="{{t.lastPostUrl}}">{{format-date t.bumpedAt format="medium-with-ago" noTitle="true"}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {{/each}}
    </tbody>
</table>
{{/conditional-loading-spinner}}
<a href="{{moreHref}}" class="btn btn-more">{{i18n 'read_more'}}</a>